<div class="container p-4">
  <div class="row">
    <div class="col-md-6">
      <div class="card card-body">

        <img src="../assets/images/searchWeather.png" width="180" class="mx-auto"/>
        <form (submit)="submitLocation(nombreCiudad)">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nombre de la ciudad" #nombreCiudad>
          </div>
          <button class="btn btn-primary btn-block mt-2 mx-auto">
            Obtener Clima
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="clima" class="card card-body">
        <p>Temperatura: {{clima.main.temp}} ºC</p>
        <p>Temperatura Max: {{clima.main.temp_max}}</p>
        <p>Temperatura Min: {{clima.main.temp_min}}</p>
        <p>Latitud: {{clima.coord.lat}}</p>
        <p>Longitud: {{clima.coord.lon}}</p>
        <p>Velocidad del viento: {{clima.wind.speed}}</p>
        <p>Puesta del sol: {{clima.sys.sunrise}}</p>
        <p>Humedad: {{clima.main.humidity}}</p>
        <p>Presion: {{clima.main.pressure}}</p>
        <p>Descripcion del tiempo: {{clima.weather[0].description}}</p>
      </div>
    </div>
  </div>
</div>
